    <!--Footer-->
<div id="itsystem-footer">
    <div class="itsystem-footer-copyright">© 2023 Государственная информационная система промышленности</div>
    <div class="itsystem-footer-contacts">
        <div class="itsystem-footer-contacts-label">Техническая поддержка:</div>
        <div class="itsystem-footer-contacts-email">
            <a href="mailto:support@gisp.gov.ru" target="_blank">support@gisp.gov.ru</a>
        </div>
        <div class="itsystem-footer-contacts-phone">
            <a href="https://portal.frprf.ru/online/gisp" target="_blank">Горячая линия ГИСП</a>
        </div>
    </div>
</div>