
<div id="itsystem-header">
<header class="header-main">
    <div class="container">
      @*  <div class="logos">
                <a href="https://gknt.gov.by/"><img class="gknt_logo" src="../../icons/gknt_logo.png" alt=""></a>
                <a href="http://www.belisa.org.by/"><img class="belisa_logo" src="../../icons/belisa_logo.png" alt=""></a>
        </div>*@
    </div>
</header>
</div>

