
<script>

    //Сравнение
    function comparison_function() {
        document.getElementById("comparison-popup").classList.toggle("show_block");
        document.getElementById("comparison-tool").classList.toggle("show_background");
    }

    //О проекте
    function aboutProject() {
        document.getElementById("new-about-cont").classList.toggle("show_block");
        console.log("fwsfwsf")
    }

    //Закрыть окно О проекте
    $('.about_project_close_button').click(function () {
        document.getElementById("new-about-cont").classList.remove("show_block");
    }
    );

    //Языки
    function language_change() {
        document.getElementById("itsystem-lang-menu").classList.toggle("show_block");
    }

    //Инструменты
    function measurementTools() {
        document.getElementById("itsystem-measure-menu").classList.toggle("show_block");
    }

    //Слои
    $('.itsystem-layers-button').click(function () {
        $(".itsystem-layers-button").css("display", "none");
        $(".itsystem-header.collapsed").css("right", "15px");
        $(".comparison-popup").css("right", "173px");
        $(".layer-switcher-window").css("display", "block");

        $(".comparison-popup").css("right", "168px");
    }
    );

    //Закрыть окно слоёв
    $('.layer-close-button').click(function () {
        $(".layer-switcher-window").css("display", "none");
        $(".itsystem-header.collapsed").css("right", "82px");
        $(".itsystem-layers-button").css("display", "block");

        $(".comparison-popup").css("right", "235px");
    }
    );

    window.onclick = function (event) {
        if (!event.target.matches('.itsystem-curr-lang')) {
            var dropdowns = document.getElementsByClassName("itsystem-lang-menu");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show_block')) {
                    openDropdown.classList.remove('show_block');
                }
            }
        }

        if (!event.target.matches('.itsystem-tool-button')) {
            var dropdowns = document.getElementsByClassName("itsystem-measure-menu");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show_block')) {
                    openDropdown.classList.remove('show_block');
                }
            }
        }
    }
</script>

<div class="itsystem-header collapsed">

        <!--Логотип-->
        <div class="itsystem-logo-container">

          <a href="#" class="itsystem-logo">
            <h1>Геоинформационная система</h1>
          </a>

          <h1 class="itsystem-logo-link">
            <a class="link_latets">
              Индустриальные парки. Технопарки.<br>Кластеры 
            </a>
            <span>/&emsp;</span>
            <a href="#" target="_blank" class="link_atlas">Объекты промышленности</a>
          </h1>
        </div>

        <!--Ccылки меню-->
        <ul class="itsystem-menu">
          <li><a role="news" href="javascript:void(0)" class="h-icon-button" onclick="">Новости</a></li>
          <li><a role="regs" href="javascript:void(0)" class="h-icon-button">Реестры</a></li>
          <li><a role="materials" href="javascript:void(0)" class="h-icon-button">Материалы</a></li>
          <li><a role="profile" href="//gisp.gov.ru/gisip/admin" target="_blank" class="h-icon-button">Управление</a></li>
        </ul>

        <!--Инструменты-->
        <a class="itsystem-curr-lang" data-lang_id="ru" href="#" onclick="language_change()"></a>
        <a class="itsystem-tool-button measure measure1" title="Инструменты измерения" href="#"
          onclick="measurementTools()"></a>
        <a class="itsystem-tool-button link" title="Ссылка на карту" href=""></a>
        <a class="itsystem-tool-button print" title="Печать" href="" role="print"></a>
        <a class="itsystem-tool-button help" title="Справка" href=""></a>
        <a class="itsystem-tool-button about" title="О проекте" onclick="aboutProject()" href="#"></a>
        <div class="comparison-tool active" id="comparison-tool" onclick="comparison_function()" title="Сравнение">
        </div>

        <!--Окно поиска-->
        <div class="itsystem-search">
          <input type="text" class="search-input">
          <div class="search-magnifier"></div>
        </div>


        <!--Выпадающий список языков-->
        <ul class="itsystem-lang-menu pulled" id="itsystem-lang-menu">
        <li> <a data-lang_id="ru" href="#"></a></li>
        <li> <a data-lang_id="en" href="#"></a></li>
        <li> <a data-lang_id="es" href="#"></a></li>
        <li><a data-lang_id="zh" href="#"></a></li>
        </ul>

        <!--Выпадающий список инструментов-->
        <ul class="itsystem-measure-menu" id="itsystem-measure-menu">
          <li class="measure" title="Закрыть"></li>
          <li data-measure="distance" title="Расстояние" class="distance-measure"></li>
          <li data-measure="area" title="Площадь (км²)" class="area-measure"></li>
          <li data-measure="area-hec" title="Площадь (га)" class="area-measure_hec"></li>
        </ul>

      </div>

      <!--Выпадающее окно сравнения-->
      <div class="comparison-popup" id="comparison-popup">
        <div class="comparison-popup__items">
          <div class="arrow"></div>
        </div>
        <div class="comparison-popup__footer">
          <div class="comparison-popup__row message">
            <span class="comparison-popup__message info">Добавьте несколько объектов одного типа</span>
          </div>

          <div class="comparison-popup__row">
            <button class="comparison-popup__button disabled">Сравнить</button>
          </div>
        </div>
      </div>

      <!--О проекте (выпадающий блок)-->
      <div class="new-about-cont" id="new-about-cont">
        <a class="about_project_close_button" href="#" title="Закрыть">×</a>

        <div class="left-page">
          <h1 class="new-about-title">О проекте</h1>

          <div class="content-box-left scrollable">
            <div class="vertical-scroll">
              <div class="scroll-bar-vertical"></div>
            </div>

            <div class="viewport">
              <div class="overview">
                <br>«Геоинформационная система индустриальных парков, технопарков и кластеров Российской Федерации» –
                это система ввода, хранения, систематизации, анализа и графической визуализации на карте-схеме
                пространственных данных и связанной с ними информации об индустриальных парках, технопарках и кластерах
                Российской Федерации.<br>
                <br>Система разработана в рамках реализации Государственной программы «Развитие промышленности и
                повышение ее конкурентоспособности».<br>
                <br>В 2015 году геоинформационная система индустриальных парков, технопарков и кластеров Российской
                Федерации стала лауреатом Всероссийской интернет-премии «Прометей» в номинации «Власть и
                государство».<br>
                <br>
                <br>

                <h3>Координация проекта</h3>
                <div class="links">
                  <div class="link_description">
                    Отдел проектов территориального развития Департамента региональной промышленной политики
                    Минпромторга России
                    <a href="//minpromtorg.gov.ru/ministry/dep/#!20&amp; click_tab_vp_ind=1"
                      target="_blank">minpromtorg.gov.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-drp-logo" href="//minpromtorg.gov.ru/ministry/dep/#!20&amp;click_tab_vp_ind=1"
                      target="_blank"></a>
                  </div>
                </div>

                <h3>Техническая реализация</h3>
                <div class="links">
                  <div class="link_description">
                    ORBIS
                    <a href="#" target="_blank">www.orbisystems.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-orbis-logo" href="#" target="_blank"></a>
                  </div>
                </div>


                <h3>Информационная поддержка</h3>
                <div class="links">
                  <div class="link_description">
                    Ассоциация индустриальных парков
                    <a href="#" target="_blank">www.indparks.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-indpark-logo" href="#" target="_blank"></a>
                  </div>
                </div>
                <div class="links">
                  <div class="link_description">
                    Ассоциация кластеров, технопарков и ОЭЗ России
                    <a href="#" target="_blank">www.akitrf.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-tech-logo" href="#" target="_blank"></a>
                  </div>
                </div>
                <div class="links">
                  <div class="link_description">
                    Национальный исследовательский университет «Высшая школа экономики»
                    <a href="#" target="_blank">www.cluster.hse.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-hse-logo" href="#" target="_blank"></a>
                  </div>
                </div>
                <div class="links">
                  <div class="link_description">
                    Онлайн консультации по поддержке МСП
                    <a href="#" target="_blank">www.msp.economy.gov.ru</a>
                  </div>
                  <div class="links_logo">
                    <a class="about-monkeybusiness-logo" href="#" target="_blank"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Кнопка слои-->
      <a class="itsystem-layers-button" title="Картографические слои" href="#" style="display: block;">
        <span>слои</span>
      </a>

      <!--Выпадающее окно слои-->
      <div class="layer-switcher-window">
        <div class="inner-container">
          <div class="layer-close-button">×</div>
          <div class="group-box">

            <div class="map_table">
              <div class="map_table_line line1">
                <div class="base_map" data-layer="orbis">Базовая карта</div>
                <div class="yandex_map" data-layer="yandex">Яндекс карта</div>
                <div class="yandex_satellite" data-layer="yandexSat">Яндекс спутник</div>
              </div>

              <div class="map_table_line line2">
                <div class="cadastral_map" data-layer="kadastr" class="single-button">Кадастровая карта</div>
                <div class="plot_schemes" data-layer="orbis_ind_parks" class="active single-button shemes">Схемы
                  участков</div>
              </div>
            </div>

            <div class="slider-box">
              <label>Прозрачность</label>
              <div class="slider-control noUi-target noUi-connect">
                <div class="noUi-base">
                  <div class="noUi-background" style="left: 60%;">
                    <div class="noUi-handle-lower"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
