<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>geoportal</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
   
    ﻿
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ba1ff065-3dae-4e01-931f-f1cf08bd2f1b&lang=ru_RU" type="text/javascript"></script>
    <script src="~/bundle/ScssModul.bundle.js"></script>
  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   
</head>
<body>
    <div id="main-container">
    <!--header area -->
    <div id="itsystem-container">

    @await Html.PartialAsync("_HeaderPartial")
        
    <!-- End header area -->
    @RenderBody()
        </div>
    <!-- footer top area -->
    @await Html.PartialAsync("_FooterPartial")
    <!-- End footer bottom area -->

    </div>

    <script src="~/bundle/JSModul.bundle.js"></script>
   
</body>
</html>
