<!-- navbar-->
<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-container-headline">
            <h1>Геопортал ГКНТ</h1>
    </div>

        <ul class="navbar-container-menu">
        <li><a href="#" class="">Статистика</a></li>
        <li><a href="#" class="">Издания</a></li>
        <li><a href="#" class="">О портале</a></li>
        <li><a href="#" class="me-0">Вход</a></li>

    </ul>
</div>
</div>

<!-- end navbar-->