<!-- navbar-->
<div class="itsystem-header">
    <div class="itsystem-logo-container">
        <a href="#" class="itsystem-logo">
            <h1>Геоинформационная система</h1>
        </a>
        <h1 class="itsystem-logo-link">
            <a class="link_latets">
                Индустриальные парки. Технопарки.<br>Кластеры 
            </a>
        </h1>
    </div>

    <!--Ccылки меню-->
    <ul class="itsystem-menu">
        <li><a role="profile" href="#" target="_blank" class="h-icon-button">Авторизация</a></li>
        <li><a role="materials" href="javascript:void(0)" class="h-icon-button">Материалы</a></li>
        <li><a role="materials" href="javascript:void(0)" class="h-icon-button">Статистика</a></li>

    </ul>

    <!--Инструменты-->
    <a class="itsystem-tool-button help" title="Справка" href="#"></a>
    <a class="itsystem-tool-button about" id="aboutProject_open" title="О проекте" href="#"></a>
</div>
<!--О проекте (выпадающий блок)-->
<div class="new-about-cont" id="new-about-cont">
    <a class="about_project_close_button" id="aboutProject_close" href="#" title="Закрыть">×</a>

    <div class="left-page">
        <h1 class="new-about-title">О проекте</h1>

        <div class="content-box-left scrollable">
            <div class="vertical-scroll">
                <div class="scroll-bar-vertical"></div>
            </div>

            <div class="viewport">
                <div class="overview">
                    <br>«Геоинформационная система индустриальных парков, технопарков и кластеров Российской Федерации» –
                    это система ввода, хранения, систематизации, анализа и графической визуализации на карте-схеме
                    пространственных данных и связанной с ними информации об индустриальных парках, технопарках и кластерах
                    Российской Федерации.<br>
                    <br>Система разработана в рамках реализации Государственной программы «Развитие промышленности и
                    повышение ее конкурентоспособности».<br>
                    <br>В 2015 году геоинформационная система индустриальных парков, технопарков и кластеров Российской
                    Федерации стала лауреатом Всероссийской интернет-премии «Прометей» в номинации «Власть и
                    государство».<br>
                    <br>
                    <br>

                    <h3>Координация проекта</h3>
                    <div class="links">
                        <div class="link_description">
                            Отдел проектов территориального развития Департамента региональной промышленной политики
                            Минпромторга России
                            <a href="//minpromtorg.gov.ru/ministry/dep/#!20&amp; click_tab_vp_ind=1"
                               target="_blank">minpromtorg.gov.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-drp-logo" href="//minpromtorg.gov.ru/ministry/dep/#!20&amp;click_tab_vp_ind=1"
                               target="_blank"></a>
                        </div>
                    </div>

                    <h3>Техническая реализация</h3>
                    <div class="links">
                        <div class="link_description">
                            ORBIS
                            <a href="#" target="_blank">www.orbisystems.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-orbis-logo" href="#" target="_blank"></a>
                        </div>
                    </div>


                    <h3>Информационная поддержка</h3>
                    <div class="links">
                        <div class="link_description">
                            Ассоциация индустриальных парков
                            <a href="#" target="_blank">www.indparks.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-indpark-logo" href="#" target="_blank"></a>
                        </div>
                    </div>
                    <div class="links">
                        <div class="link_description">
                            Ассоциация кластеров, технопарков и ОЭЗ России
                            <a href="#" target="_blank">www.akitrf.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-tech-logo" href="#" target="_blank"></a>
                        </div>
                    </div>
                    <div class="links">
                        <div class="link_description">
                            Национальный исследовательский университет «Высшая школа экономики»
                            <a href="#" target="_blank">www.cluster.hse.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-hse-logo" href="#" target="_blank"></a>
                        </div>
                    </div>
                    <div class="links">
                        <div class="link_description">
                            Онлайн консультации по поддержке МСП
                            <a href="#" target="_blank">www.msp.economy.gov.ru</a>
                        </div>
                        <div class="links_logo">
                            <a class="about-monkeybusiness-logo" href="#" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end navbar-->