<script>

    //    ymaps.ready(function () {
    //    var myMap = new ymaps.Map(
    //        "YMapsID",
    //        {
    //            center: [53.90, 27.56],
    //            zoom: 1,
    //            controls: []
    //        },
    //        {
    //            maxZoom: 17,
    //            restrictMapArea: [
    //                [58.486077093111334, 15.89679288089655],
    //                [49.77185323695446, 39.58331354601873]
    //            ],
    //            projection: ymaps.projection.sphericalMercator
    //        });
    //  //  myMap.layers.add(new ymaps.Layer('https://u-stena.ru/upload/iblock/28b/28b861daa37da95f4740d1f0599ea8e2.jpg'));

    //    // Загрузим регионы.
    //    ymaps.borders.load('001', {
    //        lang: 'ru',
    //        quality: 2
    //    }).then(function (result) {

    //        // Создадим многоугольник, который будет скрывать весь мир, кроме заданной страны.
    //        var background = new ymaps.Polygon([
    //            [
    //                [85, -179.99],
    //                [85, 179.99],
    //                [-85, 179.99],
    //                [-85, -179.99],
    //                [85, -179.99]
    //            ]
    //        ], {}, {
    //            fillColor: '#B0B0B0',
    //            fillOpacity: 0.5,
    //            strokeWidth: 1.5,
    //            coordRendering: 'straightPath'
    //        });
    //        // Найдём страну по её iso коду.
    //        var region = result.features.filter(function (feature) { return feature.properties.iso3166 == 'BY'; })[0];
    //        var masks = region.geometry.coordinates;
    //        masks.forEach(function (mask) {
    //            background.geometry.insert(1, mask);
    //        });
    //        // Добавим многоугольник на карту.
    //        myMap.geoObjects.add(background);
    //    })

    //    // создание кластера
    //    clusterer = new ymaps.Clusterer({
    //        // Макет метки кластера pieChart.
    //        clusterIconLayout: 'default#pieChart',
    //        // Радиус диаграммы в пикселях.
    //        clusterIconPieChartRadius: 25,
    //        // Радиус центральной части макета.
    //        clusterIconPieChartCoreRadius: 10,
    //        // Ширина линий-разделителей секторов и внешней обводки диаграммы.
    //        clusterIconPieChartStrokeWidth: 3,
    //        // Определяет наличие поля balloon.
    //        hasBalloon: true
    //    });

    //    // получение координат для меток из бд
    //    $.ajax({
    //        url: 'https://localhost:7215/Home/GetCoordinates',
    //        type: 'POST',
    //        dataType: 'json',
    //        contentType: 'application/json; charset=utf-8',
    //        async: true,
    //        success: function (result) {
    //            result.geoItems.forEach(element => {
    //                // Технопарки
    //                if (element.geoType == 0) {
    //                    var circleLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);
    //                    var myGeoObject = new ymaps.GeoObject({
    //                        geometry: {
    //                            type: "Point", // тип геометрии - точка
    //                            coordinates: [element.x, element.y], // координаты точки
    //                        },
    //                    }, {
    //                        iconColor: "#33FF00",
    //                        iconLayout: circleLayout,
    //                        pane:'overlaps',
    //                        iconImageOffset: [0, 0],
    //                    });
    //                }
    //                //Центр трансфера технологий
    //                if (element.geoType == 1) {
    //                    var myGeoObject = new ymaps.GeoObject({
    //                        geometry: {
    //                            type: "Point", // тип геометрии - точка
    //                            coordinates: [element.x, element.y], // координаты точки
    //                        },
    //                    }, {
    //                        iconColor: "#5863FF"
    //                    });
    //                }
    //                // ИНН проекты
    //                if (element.geoType == 2) {
    //                    var myGeoObject = new ymaps.GeoObject({
    //                        geometry: {
    //                            type: "Point", // тип геометрии - точка
    //                            coordinates: [element.x, element.y], // координаты точки
    //                        },
    //                    }, {
    //                        iconColor: "#FF0000"
    //                    });
    //                }
    //                //НТП
    //                if (element.geoType == 3) {
    //                    var myGeoObject = new ymaps.GeoObject({
    //                        geometry: {
    //                            type: "Point", // тип геометрии - точка
    //                            coordinates: [element.x, element.y], // координаты точки
    //                        },
    //                    }, {
    //                        iconColor: "#FFA158"
    //                    });
    //                }
    //                //Можно менять опции кластеризатора после создания.
    //                clusterer.options.set({
    //                    gridSize: 100,
    //                    clusterDisableClickZoom: false
    //                });

    //                clusterer.add(myGeoObject);
    //                myMap.geoObjects.add(clusterer);

    //                myMap.setBounds(clusterer.getBounds(), {
    //                    checkZoomRange: true
    //                });

    //                //myGeoObject.events
    //                //    .add('mouseenter', function (e) {
    //                //        if (element.geoType == 0) {
    //                //            const $parksProcessSmall = $(`#${element.id}`);
    //                //            $parksProcessSmall.removeClass("d-none");
    //                //        }
    //                //    })
    //                //    .add('mouseleave', function (e) {
    //                //        if (element.geoType == 0) {
    //                //            const $parksProcessSmall = $(`#${element.id}`);
    //                //            $parksProcessSmall.toggleClass("d-none");
    //                //        }

    //                //    });

    //                myGeoObject.events.add('click', function () {
    //                    // Технопарки
    //                    if (element.geoType == 0) {
    //                        const $parksProcessSmall = $(`#${element.id}`);
    //                        $parksProcessSmall.removeClass("d-none");

    //                        var url = "@Url.Action("GetPartialTechParck", "Home")";
    //                        var wrapperid = "#window-container";
    //                        AjaxAxtion(url, element.id, wrapperid);
    //                    }

    //                    //Центр трансфера технологий
    //                    if (element.geoType == 1) {
    //                        var url = "@Url.Action("GetPartialCTT", "Home")";
    //                        var wrapperid = "#window-container";
    //                        AjaxAxtion(url, element.id, wrapperid);
    //                    }

    //                    // ИНН проекты
    //                    if (element.geoType == 2) {
    //                        var url = "@Url.Action("GetPartialInnProject", "Home")";
    //                        var wrapperid = "#window-container";
    //                        AjaxAxtion(url, element.id, wrapperid);
    //                    }
    //                    //НТП
    //                    if (element.geoType == 3) {
    //                        var url = "@Url.Action("GetPartialNtpProject", "Home")";
    //                        var wrapperid = "#window-container";
    //                        AjaxAxtion(url, element.id, wrapperid);
    //                    }
    //                });

    //                function AjaxAxtion(url, id, wrapperid) {
    //                    $.ajax({
    //                        cache: false,
    //                        type: "GET",
    //                        url: url,
    //                        data: { id: id },
    //                        dataType: "html",
    //                        success: function (data) {
    //                            $(wrapperid).empty();
    //                            $(wrapperid).append(data);
    //                            top_popup();
    //                        },
    //                        error: function (xhr, ajaxOptions, thrownError) {
    //                            alert('Ошибка загрузки таблицы!');
    //                        }
    //                    });
    //                }
    //                // фильтрация меток
    //                $(document).ready(function () {
    //                    const $srtBTN_tech = $("#filtr_teh_ctt_bif");
    //                    $srtBTN_tech.click(function () {
    //                        clusterer.add(myGeoObject);
    //                        myMap.geoObjects.add(clusterer);
    //                        if ($('#filtr_techparck').is(':checked')) {
    //                            if (element.geoType != 0) {
    //                                clusterer.remove(myGeoObject);
    //                            }
    //                        }
    //                        if ($('#filtr_ctt').is(':checked')) {
    //                            if (element.geoType != 1) {
    //                                clusterer.remove(myGeoObject);
    //                            }
    //                        }
    //                        if ($('#filtr_techparck').is(':checked') && $('#filtr_ctt').is(':checked')) {
    //                            clusterer.add(myGeoObject);
    //                            myMap.geoObjects.add(clusterer);
    //                            if (element.geoType != 0 && element.geoType != 1) {
    //                                clusterer.remove(myGeoObject);
    //                            }
    //                        }
    //                        if (!$('#filtr_techparck').is(':checked') && !$('#filtr_ctt').is(':checked') && !$('#filtr_bif').is(':checked')) {
    //                            clusterer.add(myGeoObject);
    //                            myMap.geoObjects.add(clusterer);
    //                        }
    //                    });
    //                });
    //            });
    //        }
    //    });
    //});// КОНЕЦ СОЗДАНИИ КАРТЫ

</script>