@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
 box-sizing: border-box;
  border: 0;
  outline: medium none;
  list-style: none;

}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(143, 169, 190);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.new-string {
    width: 100%;
}


#main-container {
    background-color: rgb(143, 169, 190); 
    display: flex;
    flex-direction: column;
    height: 100%;
}

#itsystem-container {
  position: relative;
    flex-grow: 1;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 
