@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic");

* {
 box-sizing: border-box;
  border: 0;
  outline: medium none;
  list-style: none;

}

body, html {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;
    overflow: hidden;

    font-size: 11px;
    line-height: 1.5;
    font-family: Verdana, Arial, Helvetica, sans-serif;

    background-color: rgb(143, 169, 190);
}

a {
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.new-string {
    width: 100%;
}


#main-container {
    background-color: rgb(143, 169, 190); 
    display: flex;
    flex-direction: column;
    height: 100%;
}

#itsystem-container {
  position: relative;
    flex-grow: 1;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 
